<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sammy's Project</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
<header>
  <h1 id="title">Project Form</h1>
</header>
<main id="main">
  <p id="description">
    Fill all fields to upload your project
  </p>
  <form action="/api/project" id="survey-form" method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="rowLeft">
        <label id="name-label" for="name">Name:</label>
      </div>
      <div class="rowRight">
        <input type="text" name="name" id="name" placeholder="Enter project name" required class="inputs">
      </div>
    </div>
    <div class="row">
      <div class="rowLeft">
        <label for="description">Project Description</label>
       </div>
      <div class="rowRight">
        <textarea name="description" id="" cols="10" rows="10" for="description" placeholder="Enter your description here..." class="inputs" required></textarea>
       </div>
    </div>
    <div class="row">
      <div class="rowLeft">
        <label id="code-label" for="code">Code:</label>
      </div>
      <div class="rowRight">
        <input type="url" name="code_url" id="code" placeholder="Enter code url" required class="inputs">
      </div>
    </div>
    <div class="row">
      <div class="rowLeft">
        <label id="demo-label" for="demo">Demo:</label>
      </div>
      <div class="rowRight">
        <input type="url" name="demo_url" id="demo" placeholder="Enter demo url" required class="inputs">
      </div>
    </div>
    <div class="row">
      <div class="rowLeft">
        <label for="choice">What type of project are up uploading?</label>
      </div>
      <div class="rowRight">
        <select id="choice" required name="type">
          <option value="">Select an option</option>
          <option value="frontend">Front-End</option>
          <option value="d3">Data Visualization</option>
          <option value="fullstack">Full-Stack</option>
          <option value="other">Other</option>
        </select>
      </div>
    </div>
    <fieldset>
      <legend>
        Tech used in project creation (Check all that apply):
      </legend>
        <div class="row">
          <div class="rowRight">
            <div class="skills">
              <input type="checkbox" id="vanilla" value="vanilla" name="skills">
              <label for="vanilla">Vanilla js</label>
            </div>
            <div class="skills">
              <input type="checkbox" id="reactjs" value="reactjs" name="skills">
              <label for="reactjs">React js</label>
            </div>
            <div class="skills">
              <input type="checkbox" id="d3" value="d3" name="skills">
              <label for="d3">D3</label>
            </div> 
            <div class="skills">
              <input type="checkbox" id="mongodb" value="mongodb" name="skills">
              <label for="mongodb">MongoDb</label>
            </div>  
            <div class="skills">
              <input type="checkbox" id="express" value="express" name="skills">
              <label for="express">Express</label>
            </div>  
            <div class="skills">
              <input type="checkbox" id="javascript" value="javascript" name="skills">
              <label for="javascript">Javascript</label>
            </div>  
            <div class="skills">
              <input type="checkbox" id="bootstrap" value="bootstrap" name="skills">
              <label for="bootstrap">Bootstrap</label>
            </div>  
            <div class="skills">
              <input type="checkbox" id="jquery" value="jquery" name="skills">
              <label for="jquery">jQuery</label>
            </div>
            <div class="skills">
              <input type="checkbox" id="angulajs" value="angulajs" name="skills">
              <label for="angulajs">Angula js</label>
            </div>
            <div class="skills">
              <input type="checkbox" id="vuejs" value="vuejs" name="skills">
              <label for="vuejs">Vue js</label>
            </div>
            <div class="skills">
              <input type="checkbox" id="wiki" value="Sass" name="skills">
              <label for="Sass">Sass</label>
            </div>  
            <div class="skills">
              <input type="checkbox" id="Stylejs" value="Stylejs" name="skills">
              <label for="Stylejs">Style js</label>
            </div>  
            <div class="skills">
              <input type="checkbox" id="css3" value="css3" name="skills">
              <label for="css3">Css3</label>
            </div>
            <div class="skills">
              <input type="checkbox" id="other" value="other" name="skills">
              <label for="other">Other</label>
              <input type="text" id="other" name="item" placeholder="Python, PostgreSQL, etc..." class="inputs">
            </div>
          </div>
       </div>
    </fieldset>
    <div class="row">
      <div class="rowLeft">
        <label id="img_url" for="img_url">Pls upload project screen short:</label>
      </div>
      <div class="rowRight">
        <input type="file" name="img_url" required class="inputs">
      </div>
    </div>
    <div id="div-submit">
      <input type="submit" value="Submit" id="submit" >
    </div>
  </form>
</main>

  </body>
</html>
