@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

body {
   font-family: 'Raleway', Helvetica, sans-serif;
  background: pink;
  color: #333;
}
header, main #description, #div-submit {
  text-align: center;
}

main {
  width: 75%;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 10%;
  box-shadow: 2px 2px 5px black;
}

main form .row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

main form .rowLeft {
  display: flex;
  justify-content: flex-end;
  width: 49%;
  margin-top: 6px;
}
main form .rowRight {
  width: 49%;
}

main form fieldset {
  margin-top: 20px;
  margin-bottom: 20px;
}
main form fieldset .row{
  justify-content: flex-end;
}

main form .row .inputs {
  width: 60%;
  padding: 8px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

main form .row select {
  padding: 8px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

main form #submit {
    background-color: #59ace0;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    height: 40px;
    width: 96px;
    margin: 10px;
    border: 0px solid;
}

main form #submit:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

main form .row .skills {
  margin-bottom: 10px;
}


@media (max-width: 1100px) {
  main form .row .inputs {
    width: 80%;
  }
}


@media (max-width: 600px) {
  main form .row {
    padding: 20px;
    flex-direction: column;
  }
  main form .rowLeft{
    justify-content: flex-start;
    margin-bottom: 18px;
}
  main form .rowRight {
  width: 80%;
}
  main form .row .inputs {
    width: 100%;
  }
}